Flask==3.0.3
flask_login==0.6.3
flask_sqlalchemy==3.1.1
psutil==5.9.8
pytest==8.2.1
python-dotenv==1.0.1
requests==2.25.1
SQLAlchemy==2.0.30
Werkzeug==3.0.3
gunicorn==22.0.0
gevent==24.2.1
ansible>=6.7.0
ansible-runner>=2.3.1
PyYAML==6.0.2
paramiko==3.5.0
