<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changelog</title>
    <style>
      title {
        color: white;
      }
      body {
        background-color: #181a1b;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        padding: 20px;
      }
      h1 { font-size: 24px; }
      h2 { font-size: 20px; }
      h3 { font-size: 18px; }
      h1, h2, h3, h4 {
        color: white;
      }
      
      p, li, b {
        color: white;
      }
    </style>
</head>
<body>
    <div>
        {{ changelog_html | safe }}
    </div>
</body>
</html>
