body {
  background-color: black;
}

h2, h3, h4 {
  color: white;
}

p, li, b {
  color: white;
}

#top-button {
  position: fixed;
  left: 40px;
  bottom: 70px;
}

#auto-scroll-button {
  position: relative;
  right: 40px;
  top: 70px;
}

/* Adjust text-area to account for autoscroll repositioning */
#text-area {
  margin-top: -35px;
  margin-bottom: 35px;
}

#del-button {
  position: fixed;
  right: 40px;
  bottom: 70px;
}

/* The popup sudopass form - hidden by default */
.form-popup {
  max-width: 350px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
}

.CodeMirror {
  resize: vertical;
  height: auto;
}

/* Animated ... for install page */
@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }
