<mxfile host="app.diagrams.net" agent="Mozilla/5.0 (X11; Linux x86_64; rv:137.0) Gecko/20100101 Firefox/137.0" version="26.2.7">
  <diagram name="Page-1" id="y3emn1HXVfJSRtjJsB1f">
    <mxGraphModel dx="1428" dy="768" grid="1" gridSize="10" guides="1" tooltips="1" connect="1" arrows="1" fold="1" page="1" pageScale="1" pageWidth="850" pageHeight="1100" math="0" shadow="0">
      <root>
        <mxCell id="0" />
        <mxCell id="1" parent="0" />
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-1" value="" style="rounded=0;whiteSpace=wrap;html=1;" parent="1" vertex="1">
          <mxGeometry x="80" y="40" width="670" height="560" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-2" value="&lt;h1 style=&quot;margin-top: 0px; line-height: 100%;&quot;&gt;Web-LGSM&lt;br&gt;Routes&lt;/h1&gt;&lt;p&gt;Currently a work in progress...&lt;/p&gt;" style="text;html=1;whiteSpace=wrap;overflow=hidden;rounded=0;" parent="1" vertex="1">
          <mxGeometry x="90" y="50" width="180" height="100" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-9" value="" style="edgeStyle=orthogonalEdgeStyle;rounded=0;orthogonalLoop=1;jettySize=auto;html=1;" parent="1" source="LUX5PoxkGaYRQoNUHdzI-3" target="LUX5PoxkGaYRQoNUHdzI-7" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-10" style="edgeStyle=orthogonalEdgeStyle;rounded=0;orthogonalLoop=1;jettySize=auto;html=1;" parent="1" source="LUX5PoxkGaYRQoNUHdzI-3" target="LUX5PoxkGaYRQoNUHdzI-6" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-11" style="edgeStyle=orthogonalEdgeStyle;rounded=0;orthogonalLoop=1;jettySize=auto;html=1;" parent="1" source="LUX5PoxkGaYRQoNUHdzI-3" target="LUX5PoxkGaYRQoNUHdzI-8" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-3" value="Routes" style="rounded=0;whiteSpace=wrap;html=1;" parent="1" vertex="1">
          <mxGeometry x="355" y="170" width="105" height="40" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-5" value="" style="edgeStyle=orthogonalEdgeStyle;rounded=0;orthogonalLoop=1;jettySize=auto;html=1;" parent="1" source="LUX5PoxkGaYRQoNUHdzI-4" target="LUX5PoxkGaYRQoNUHdzI-3" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-4" value="Web Server&lt;br&gt;(Gunicorn)" style="rounded=0;whiteSpace=wrap;html=1;" parent="1" vertex="1">
          <mxGeometry x="355" y="100" width="105" height="40" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-6" value="Auth" style="rounded=0;whiteSpace=wrap;html=1;" parent="1" vertex="1">
          <mxGeometry x="220" y="260" width="105" height="40" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-7" value="Views" style="rounded=0;whiteSpace=wrap;html=1;" parent="1" vertex="1">
          <mxGeometry x="355" y="260" width="105" height="40" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-8" value="API" style="rounded=0;whiteSpace=wrap;html=1;" parent="1" vertex="1">
          <mxGeometry x="490" y="260" width="105" height="40" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-12" value="" style="shape=table;startSize=0;container=1;collapsible=0;childLayout=tableLayout;fontSize=11;fillColor=none;strokeColor=none;" parent="1" vertex="1">
          <mxGeometry x="236.25" y="310" width="72.5" height="80" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-13" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-12" vertex="1">
          <mxGeometry width="72.5" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-14" value="&lt;div&gt;/login&lt;/div&gt;" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-13" vertex="1">
          <mxGeometry width="73" height="20" as="geometry">
            <mxRectangle width="73" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-15" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-12" vertex="1">
          <mxGeometry y="20" width="72.5" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-16" value="/setup" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-15" vertex="1">
          <mxGeometry width="73" height="20" as="geometry">
            <mxRectangle width="73" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-17" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-12" vertex="1">
          <mxGeometry y="40" width="72.5" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-18" value="/logout" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-17" vertex="1">
          <mxGeometry width="73" height="20" as="geometry">
            <mxRectangle width="73" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-19" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-12" vertex="1">
          <mxGeometry y="60" width="72.5" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-20" value="/edit_users" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-19" vertex="1">
          <mxGeometry width="73" height="20" as="geometry">
            <mxRectangle width="73" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-21" value="" style="shape=table;startSize=0;container=1;collapsible=0;childLayout=tableLayout;fontSize=11;fillColor=none;strokeColor=none;" parent="1" vertex="1">
          <mxGeometry x="371.25" y="310" width="72.5" height="80" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-22" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-21" vertex="1">
          <mxGeometry width="72.5" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-23" value="&lt;div&gt;/&lt;/div&gt;" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-22" vertex="1">
          <mxGeometry width="73" height="20" as="geometry">
            <mxRectangle width="73" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-24" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-21" vertex="1">
          <mxGeometry y="20" width="72.5" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-25" value="/home" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-24" vertex="1">
          <mxGeometry width="73" height="20" as="geometry">
            <mxRectangle width="73" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-26" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-21" vertex="1">
          <mxGeometry y="40" width="72.5" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-27" value="/controls" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-26" vertex="1">
          <mxGeometry width="73" height="20" as="geometry">
            <mxRectangle width="73" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-28" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-21" vertex="1">
          <mxGeometry y="60" width="72.5" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-29" value="/install" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-28" vertex="1">
          <mxGeometry width="73" height="20" as="geometry">
            <mxRectangle width="73" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-30" value="" style="shape=table;startSize=0;container=1;collapsible=0;childLayout=tableLayout;fontSize=11;fillColor=none;strokeColor=none;" parent="1" vertex="1">
          <mxGeometry x="500" y="310" width="160" height="80" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-31" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-30" vertex="1">
          <mxGeometry width="160" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-32" value="/api/update-console/&amp;lt;id&amp;gt;" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-31" vertex="1">
          <mxGeometry width="160" height="20" as="geometry">
            <mxRectangle width="160" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-33" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-30" vertex="1">
          <mxGeometry y="20" width="160" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-34" value="/api/server-status/&amp;lt;id&amp;gt;" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-33" vertex="1">
          <mxGeometry width="160" height="20" as="geometry">
            <mxRectangle width="160" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-35" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-30" vertex="1">
          <mxGeometry y="40" width="160" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-36" value="/api/cmd-output/&amp;lt;id&amp;gt;" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-35" vertex="1">
          <mxGeometry width="160" height="20" as="geometry">
            <mxRectangle width="160" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-37" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-30" vertex="1">
          <mxGeometry y="60" width="160" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-38" value="/api/delete/&amp;lt;id&amp;gt;" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-37" vertex="1">
          <mxGeometry width="160" height="20" as="geometry">
            <mxRectangle width="160" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-39" value="" style="shape=table;startSize=0;container=1;collapsible=0;childLayout=tableLayout;fontSize=11;fillColor=none;strokeColor=none;" parent="1" vertex="1">
          <mxGeometry x="371.25" y="390" width="118.75" height="80" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-40" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-39" vertex="1">
          <mxGeometry width="118.75" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-41" value="/about" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-40" vertex="1">
          <mxGeometry width="119" height="20" as="geometry">
            <mxRectangle width="119" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-42" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-39" vertex="1">
          <mxGeometry y="20" width="118.75" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-43" value="/add" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-42" vertex="1">
          <mxGeometry width="119" height="20" as="geometry">
            <mxRectangle width="119" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-44" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-39" vertex="1">
          <mxGeometry y="40" width="118.75" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-45" value="/edit" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-44" vertex="1">
          <mxGeometry width="119" height="20" as="geometry">
            <mxRectangle width="119" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-46" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" parent="LUX5PoxkGaYRQoNUHdzI-39" vertex="1">
          <mxGeometry y="60" width="118.75" height="20" as="geometry" />
        </mxCell>
        <mxCell id="LUX5PoxkGaYRQoNUHdzI-47" value="" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" parent="LUX5PoxkGaYRQoNUHdzI-46" vertex="1">
          <mxGeometry width="119" height="20" as="geometry">
            <mxRectangle width="119" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="G0s1DIqa8KM4OW9xJg5I-3" value="" style="shape=table;startSize=0;container=1;collapsible=0;childLayout=tableLayout;fontSize=11;fillColor=none;strokeColor=none;" vertex="1" parent="1">
          <mxGeometry x="500" y="390" width="160" height="80" as="geometry" />
        </mxCell>
        <mxCell id="G0s1DIqa8KM4OW9xJg5I-4" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" vertex="1" parent="G0s1DIqa8KM4OW9xJg5I-3">
          <mxGeometry width="160" height="20" as="geometry" />
        </mxCell>
        <mxCell id="G0s1DIqa8KM4OW9xJg5I-5" value="/api/system-usage" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" vertex="1" parent="G0s1DIqa8KM4OW9xJg5I-4">
          <mxGeometry width="160" height="20" as="geometry">
            <mxRectangle width="160" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="G0s1DIqa8KM4OW9xJg5I-6" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" vertex="1" parent="G0s1DIqa8KM4OW9xJg5I-3">
          <mxGeometry y="20" width="160" height="20" as="geometry" />
        </mxCell>
        <mxCell id="G0s1DIqa8KM4OW9xJg5I-7" value="" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" vertex="1" parent="G0s1DIqa8KM4OW9xJg5I-6">
          <mxGeometry width="160" height="20" as="geometry">
            <mxRectangle width="160" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="G0s1DIqa8KM4OW9xJg5I-8" value="" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" vertex="1" parent="G0s1DIqa8KM4OW9xJg5I-3">
          <mxGeometry y="40" width="160" height="20" as="geometry" />
        </mxCell>
        <mxCell id="G0s1DIqa8KM4OW9xJg5I-9" value="" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" vertex="1" parent="G0s1DIqa8KM4OW9xJg5I-8">
          <mxGeometry width="160" height="20" as="geometry">
            <mxRectangle width="160" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
        <mxCell id="G0s1DIqa8KM4OW9xJg5I-10" style="shape=tableRow;horizontal=0;startSize=0;swimlaneHead=0;swimlaneBody=0;strokeColor=inherit;top=0;left=0;bottom=0;right=0;collapsible=0;dropTarget=0;fillColor=none;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;fontSize=16;" vertex="1" parent="G0s1DIqa8KM4OW9xJg5I-3">
          <mxGeometry y="60" width="160" height="20" as="geometry" />
        </mxCell>
        <mxCell id="G0s1DIqa8KM4OW9xJg5I-11" value="" style="shape=partialRectangle;html=1;whiteSpace=wrap;connectable=0;strokeColor=inherit;overflow=hidden;fillColor=none;top=0;left=0;bottom=0;right=0;pointerEvents=1;fontSize=12;align=left;spacingLeft=5;" vertex="1" parent="G0s1DIqa8KM4OW9xJg5I-10">
          <mxGeometry width="160" height="20" as="geometry">
            <mxRectangle width="160" height="20" as="alternateBounds" />
          </mxGeometry>
        </mxCell>
      </root>
    </mxGraphModel>
  </diagram>
</mxfile>
