---
## Playbook required vars.
# username 

- name: Removes Game Server User
  hosts: localhost
  connection: local
  become: true
  vars:
    same_user: false
  vars_files:
    - vars/accepted_usernames.yml
    - vars/web_lgsm_user.yml
  pre_tasks:
    - name: Load custom usernames if available
      include_vars:
        file: /usr/local/share/web-lgsm_custom_users.yml
      ignore_errors: yes
      register: custom_users_loaded
    
    - name: Combine username lists
      set_fact:
        accepted_usernames: "{{ accepted_usernames + (custom_usernames | default([])) }}"

  tasks:
    - name: Check if username is equal to web_lgsm_user
      set_fact:
        same_user: "{{ username == web_lgsm_user }}"

    - name: Include sub tasks
      include_tasks: "{{ item }}"
      loop:
        - tasks/validate_username.yml

    - name: Kill all user processes before delete
      command: /usr/bin/pkill -9 -u "{{ username }}"
      register: pkill_result
      failed_when: pkill_result.rc not in [0, 1]
      when: same_user is not defined or same_user == false

    - name: Delete user
      user:
        name: "{{ username }}"
        state: absent
        remove: yes
      when: same_user is not defined or same_user == false

    - name: Remove Sudoers Rule
      file:
        path: "/etc/sudoers.d/{{ web_lgsm_user }}-{{ username }}"
        state: absent
      when: same_user is not defined or same_user == false
...
