{% extends "base.html" %}
{% block title %}Add or Edit Existing Server{% endblock %}

{% block content %}
      <br />
      {% include 'game_servers.html' %}
      <br />

      <div class="container bg-dark border border-secondary rounded-3 p-2">
        <form method="POST">
          <h3 class="text-white">
            Add New or Edit Existing LGSM Installation Details
          </h3>
          {% if server_json is not none %}
          <h4 class="text-white"> 
              Currently Editing {{ (server_json|from_json).install_name }}
          </h4>
          {% endif %}
          <div class="form-group" style="color: white;">
            <!-- Hidden includes CSRF token -->
            {{ form.hidden_tag() }}

            <!-- Radio Buttons -->
            {% for subfield in form.install_type %}
                <div class="form-check">
                    {{ subfield(class="form-check-input", onchange="toggleShowRemoteHostField()") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
            {% endfor %}

            <!-- Text Inputs -->
            <label class="pt-2" for="install_name">Installation Title</label>
            {{ form.install_name(class="form-control") }}

            <label class="pt-2" for="install_path">Installation directory path</label>
            {{ form.install_path(class="form-control") }}

            <label class="pt-2" for="script_name">LGSM script name</label>
            {{ form.script_name(class="form-control") }}

            <label class="pt-2" for="username">Game server system username</label>
            {{ form.username(class="form-control") }}
            <i>If left empty will default to the user the web-lgsm process is running as.</i>

            <br/>

            <!-- Hidden Remote Host Field -->
            <div id="remote_host" style="display: none;">
                <label class="pt-2" for="install_host">Remote server's IP address or hostname</label>
                {{ form.install_host(class="form-control") }}
            </div>

            <br />
            <center>
              <button class="btn btn-outline-primary m-3" type="submit">Submit</button>
            </center>
          </div>
        </form>
      </div>

      <script>
        function toggleShowRemoteHostField() {
          const remoteHost = document.getElementById('remote_host');
          if (document.getElementById('install_type-1').checked) {
            remoteHost.style.display = 'block';
            remoteHost.children[1].required = true;
          } else {
            remoteHost.style.display = 'none';
            remoteHost.children[1].required = false;
          }
        }
      </script>
      {% if server_json is not none %}
        <script>
          const jsonData = JSON.parse({{server_json | tojson}});
        </script>
        <script src="/static/js/edit_server.js"></script>
      {% endif %}

{% endblock %}
