{% extends "base.html" %}
{% block title %}Web LGSM Server Controls{% endblock %}

{% block content %}

<br/>

<script type="text/javascript">
  // Scrolls to bottom of iframe automatically.
  // TODO: FIND BETTER SOLUTION.
  //setInterval('frames[0].scrollTo(0,9999999)',10);

  {% if auto_post == True %}
  // If in auto_post mode, on window load click ai_btn.
  window.addEventListener('load', function(){
    document.getElementById("ai_btn").click();
  })
  {% endif %}
</script>

<div class="container">

  <div class="row">
    <h2 style='color:white'>Output:</h2>
    <iframe style="color:{{text_color}}" id="output_iframe" name="output_iframe" width="100%" height="400px" src="/no_output">
    </iframe>
    <hr>
  </div>

  <br/>
  <h2 style='color:white'>Server Controls for: {{server_name|capitalize}}</h2>
  <hr>

  {% for command in server_commands %}
  <div class="row">
    <div class="col">
      <form method="GET" target="output_iframe" action="/controls">
        <input type="hidden" id="server" name="server" value="{{server_name}}" class="form-control"/>
        <input type="hidden" id="command" name="command" value="{{command.short_cmd}}" class="form-control"/>

        <input onclick='window.scrollTo(0,0);' class="btn btn-primary" type="submit" value="{{command.long_cmd}}">
      </form>
    </div>
    <div class="col" style="color:{{text_color}}">
      {{command.description}}
    </div>
  </div>
  <br/>
  {% endfor %}
</div>
<br/>

<button id="top-button" onclick='window.scrollTo(0,0);' type="button" 
  class="btn btn-primary d-sm-none d-md-block d-none d-sm-block">
  <a href="#top" style="color: white">/\ Top /\</a>
</button>

<a id="del-button" title="Remove server entry from web-lgsm database"
  onclick="return confirm('Are you sure you want to delete {{server_name}}?');" class="btn btn-danger"
  href="/delete?server={{server_name}}" role="button">Delete Server</a>

{% endblock %}
