{% extends "base.html" %}
{% block title %}Web LGSM Server Controls{% endblock %}

{% block content %}

<br/>

{% include 'doggos_and_spinners.html' %}

<div class="container">

  {% if output|length %}
  <div class="row">
    <h2 style='color:white'>Output:</h2>
    <hr>
    {% if output_type == "stderr" %}
    <pre style='color:red'>{{output}}</pre>
    {% elif output_type == "stdout" %}
    <pre style='color:green'>{{output}}</pre>
    {% endif %}
  </div>
  {% endif %}

  <br/>
  <h2 style='color:white'>Server Controls for: {{server_name|capitalize}}</h2>
  <hr>

  {% for command in server_commands %}
  <div class="row">
    <div class="col">
      <a onclick='displaySpinner(); window.scrollTo(0,0);' class='btn btn-primary'
        href='/controls?server={{server_name}}&command={{command.short_cmd}}'>{{command.long_cmd}}</a>
    </div>
    <div class="col" style="color:green">
      {{command.description}}
    </div>
  </div>
  <br/>
  {% endfor %}
</div>
<br/>

<button id="topBtn" onclick='window.scrollTo(0,0);' type="button" 
  class="btn btn-primary d-sm-none d-md-block d-none d-sm-block">
  <a href="#top" style="color: white">/\ Top /\</a>
</button>

<a id="delBtn" title="Remove server entry from web-lgsm database"
  onclick="return confirm('Are you sure you want to delete {{server_name}}?');" class="btn btn-danger"
  href="/delete?server={{server_name}}" role="button">Delete Server</a>

{% endblock %}
