version: '3.9'

services:
  web-lgsm:
    build: 
      context: .
    container_name: web-lgsm
    ports:
      - "5000:5000"
{% for server in servers %}      - "{{server.port}}:{{server.port}}"{% endfor %}
    volumes:
      - ./{{config_file}}:/home/web-lgsm/{{config_file}}:rw
      - ./app/database.db:/home/web-lgsm/app/database.db:rw
      - ./GameServers:/home/web-lgsm/GameServers:rw
    networks:
      - web-lgsm-net

networks:
  web-lgsm-net:
    driver: bridge
