<script>
function displaySpinner(){
  var spinners = document.getElementById("spinners");  
  spinners.style.display = "block";
}
</script>

<!-- Spinnyboos hidden till onclick event -->

<div id="spinners" style="display:none">
  {% if servers is defined %}
  <div class="loader">
    <h2 style="color:green"><b>Installing Game Server<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span></b></h2>
  </div>
  <p style="color:red"><b>This may take some time! Please don't click away!</b></p>
  {% endif %}

  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <hr style='color:white'>

  <p style='color:green'>Here's a random pupper while you wait!</p>
  <a href="{{doggo_img}}" alt="Random Doggo Link!" title="Click to open image in new tab." target="_blank">
  <img class="img-fluid img-thumbnail" loading="lazy" src="{{doggo_img}}" alt="Random Dog Image"></img>
  </a>

</div>
