{% extends "base.html" %}
{% block title %}Edit or Create User(s){% endblock %}

{% block content %}
      <br />

      <div class="container bg-dark border border-secondary rounded-3 p-2">
        <h3 align="enter" style="color: white;">
          Create or Edit Web LGSM User(s)
        </h3>
        <hr style="color:white">

        <h4 align="enter" style="color: white;">
          Select User:
        </h4>
        <ul class="list-group">
          {% if selected_user == 'newuser' %}
          <a href="/edit_users?username=newuser" class="list-group-item list-group-item-action text-decoration-none active" aria-current="true">New User</a>
          {% else %}
          <a href="/edit_users?username=newuser" class="list-group-item list-group-item-action text-decoration-none">New User</a>
          {% endif %}

          {% for user in all_users if user.id != 1 %}
            {% if user.username == selected_user %}
          <a href="/edit_users?username={{user.username}}" class="list-group-item list-group-item-action text-decoration-none active" aria-current="true">{{user.username}}</a>
            {% else %}
          <a href="/edit_users?username={{user.username}}" class="list-group-item list-group-item-action text-decoration-none">{{user.username}}</a>
            {% endif %}
          {% endfor %}
        </ul>
        <br/>

        {% if selected_user is not none %}
        <h4 align="enter" style="color: white;">
          User Settings:
        </h4>
        <form method="POST">
          {{ form.csrf_token }}
          <div class="form-group" style="color: white;">
              <input type="hidden" id="selected_user" name="selected_user" value="{{ selected_user }}">
              
              {% if selected_user == 'newuser' %}
              <div id="user_pass_fields">
              {% else %}
              <div class="form-check form-switch">
                {{ form.change_username_password(class="form-check-input", onchange="toggleViewUserPassFields()") }}
                {{ form.change_username_password.label(class="form-check-label") }}
              </div>
              <div id="user_pass_fields" class="d-none">
              {% endif %}
                {{ form.username.label }}
                {% if selected_user == 'newuser' %}
                {{ form.username(class="form-control", placeholder="Enter New Username") }}
                {% else %}
                {{ form.username(class="form-control", value=selected_user, placeholder=selected_user) }}
                {% endif %}
      
                {{ form.password1.label(style="color: white;") }}
                {{ form.password1(class="form-control", placeholder="Enter New Password") }}
      
                {{ form.password2.label(style="color: white;") }}
                {{ form.password2(class="form-control", placeholder="Retype New Password") }}

                <i>Note: Passwords must be at least 12 characters long and contain at least 1 uppercase letter, 1 lowercase letter, & 1 special character!</i>
                <br />
              </div>
      
              <!-- Admin radio buttons -->
              {{ form.is_admin.label(class="form-label") }}
              {% for subfield in form.is_admin %}
                  <div class="form-check">
                      {{ subfield(id="is_admin", class="form-check-input", onchange="togglePermissions()") }}
                      {{ subfield.label(class="form-check-label") }}
                  </div>
              {% endfor %}
      
              <br />
      
              <div class="container">
                  <div class="row">
                      <!-- Non-admin permissions, disabled if Admin is checked -->
                      <div id="non-admin-permissions">
                          <label><i><u>Basic Permissions</u></i></label><br />
      
                          {{ form.install_servers(class="form-check-input") }}
                          {{ form.install_servers.label }}<br />
      
                          {{ form.add_servers(class="form-check-input") }}
                          {{ form.add_servers.label }}<br />
      
                          {{ form.mod_settings(class="form-check-input") }}
                          {{ form.mod_settings.label }}<br />
      
                          {{ form.edit_cfgs(class="form-check-input") }}
                          {{ form.edit_cfgs.label }}<br />
      
                          {{ form.delete_server(class="form-check-input") }}
                          {{ form.delete_server.label }}<br />
                          <br />
      
                          <label><i><u>Allowed Controls</u></i></label><br />
                          <button type="button" class="btn btn-outline-primary btn-sm mb-2" onclick="toggleAllControls()">All Controls</button>
      
                          <div class="form-check">
                              {% for control in controls %}
                                  <input class="form-check-input control-checkbox" type="checkbox" 
                                         id="control_{{ loop.index }}" name="controls" 
                                         value="{{ control }}">
                                  <label class="form-check-label" for="control_{{ loop.index }}">{{ control }}</label><br />
                              {% endfor %}
                          </div>
      
                          <br />
      
                          <label><i><u>Allow Access to Game Servers</u></i></label><br />
                          {% if installed_servers | length > 0 %}
                          <button type="button" class="btn btn-outline-primary btn-sm mb-2" onclick="toggleAllGameServers()">All Game Servers</button>
                          <div class="form-check">
                              {% for server in installed_servers %}
                                  <input class="form-check-input gameserver-checkbox" type="checkbox" 
                                         id="server_{{ server.id }}" name="server_ids" 
                                         value="{{ server.id }}">
                                  <label class="form-check-label" for="server_{{ server.id }}">{{ server.install_name }}</label><br />
                              {% endfor %}
                          </div>
                          {% else %}
                          <p>No game servers installed yet!<br/>
                          You can adjust what servers this user has access to after installing or adding a game server.</p>
                          {% endif %}
                      </div>
      
                      <br />
                  </div>
              </div>
      
              <div class="floating-submit">
                  <button class="btn btn-outline-primary" type="submit">Submit</button>
              </div>
          </div>
        </form>
        {% endif %}
      </div>
      {% if selected_user != 'newuser' %}
      <a id="delete-btn" title="Perminantly delete web-lgsm user" onclick="return confirm('Are you sure you want to delete {{selected_user}}?');" class="btn btn-outline-danger" href="/edit_users?username={{selected_user}}&delete=true" role="button">
        Delete {{selected_user}}
      </a>
      {% endif %}


      <script>
        const userRole = '{{user_role}}';
        const userPerms = JSON.parse({{user_permissions | tojson}});
      </script>
      <script src="/static/js/edit_user.js"></script>

{% endblock %}
