{% extends "base.html" %}
{% block title %}Web LGSM Config Editor{% endblock %}

{% block content %}
      <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
      <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/perl/perl.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"></link>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/cobalt.css"></link>

      <br />
      <div class="container">

        <h2 style="color: white;">Editing Config: {{cfg_file_name}}</h2>
        <b>Full Path: {{cfg_file}}</b>
        <hr />

        <div class="row">
          <div class="col">
            <textarea id="edit-text-area" name="file_contents" form="save-edit">{{file_contents}}</textarea>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col">
            <form method="POST" id="save-edit" action="/edit">
              <input type="hidden" id="server" name="server" value="{{server_name}}" class="form-control" />
              <input type="hidden" id="cfg_path" name="cfg_path" value="{{cfg_file}}" class="form-control" />

              <input class="btn btn-outline-primary" type="submit" value="Save File 💾 " />
            </form>
          </div>

          <div class="col">
            <form method="POST" id="download-cfg" action="/edit">
              <input type="hidden" id="server" name="server" value="{{server_name}}" class="form-control" />
              <input type="hidden" id="cfg_path" name="cfg_path" value="{{cfg_file}}" class="form-control" />
              <input type="hidden" id="download" name="download" value="yes" class="form-control" />

              <input class="btn btn-outline-primary" type="submit" value="Download Config File ⏬ " />
            </form>

          </div>

          <div class="col">
            <a href="/controls?server={{server_name}}" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Back to Controls ↩️ </a>
          </div>

        </div>
        <br />
        <br />
        <b><u>Please note, specific lgsm instance.cfg files are not supported by the web-lgsm editor at this time.</u></b>
        <p>If you already have an instance.cfg file for your server you'll need to edit it over SSH. Likewise please note, all auto-installed servers will have their _default.cfg's copied to a common.cfg on setup in order to allow the config file to survive lgsm updates. Please see <a href="https://docs.linuxgsm.com/configuration/linuxgsm-config">the official lgsm docs on the subject</a> for more information.</p>
      </div>
      <br />

      <script language="javascript" type="text/javascript" src="/static/js/edit-text-area.js"></script>
{% endblock %}
