<!DOCTYPE html>
<html lang='en'>
  <link rel='stylesheet' href='/static/css/main.css'>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css'
         rel='stylesheet'
         integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We'
         crossorigin='anonymous'>
</head>
<body style='background-color: black'>
  <button id='auto-scroll-button' type='button' class='btn btn-outline-primary' 
   style='text-decoration:overline'>\/Toggle Auto-Scroll\/</button>

  <script src='/static/js/auto-scroll-button.js'></script>

