{% extends "base.html" %}
{% block title %}Web LGSM Home{% endblock %}

{% block content %}

      <br />
      <h2 style="color: white;">Installed Servers</h2>

      {% if server_status_dict is not none %}
        {% if server_status_dict|length > 0 %}
          <form method="POST" action="/delete">
            <div class="list-group form-check form-switch">
              {% for server_name, status in server_status_dict.items() %}
                {% if status == "active" %}
                  {% set status_color = '#00FF11' %}
                {% else %}
                  {% set status_color = 'red' %}
                {% endif %}
                <div class="list-group-item list-group-item-action">
                  <div class="d-flex align-items-center">
                    <a href="/controls?server={{server_name}}" class="game_server_link text-decoration-none flex-grow-1">
                      <!-- Glow via text-shadow -->
                      <span id="status-circle" style="font-size:125%;color:{{status_color}};text-shadow: 0 0 5px {{status_color}}, 0 0 10px {{status_color}}, 0 0 20px {{status_color}}, 0 0 30px {{status_color}}">● </span>&nbsp;&nbsp;{{server_name}}
                    </a>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="server_num_{{ loop.index }}" value="{{server_name}}" />
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <br />
            <button onclick="return confirm('Are you sure you want to delete these servers?');" class="btn btn-outline-danger" style="float: right !important;" type="submit">Delete Selected</button>
          </form>
        {% else %}
          <ul class="list-group">
            <li class="list-group-item">No Servers Currently Installed</li>
          </ul>
        {% endif %}
      {% else %}
        <ul class="list-group">
          <li class="list-group-item">No Servers Currently Installed</li>
        </ul>
      {% endif %}

      <br />

      <h2 style="color: white;">Other Options</h2>
      <div class="list-group">
        <a href="/install" class="list-group-item list-group-item-action">Install a New Game Server </a>
        <a href="/add" class="list-group-item list-group-item-action">Add an Existing LGSM Installation </a>
      </div>
{% endblock %}
