{% extends "base.html" %}
{% block title %}Web LGSM Install Server{% endblock %}

{% block content %}
      <script src="{{ url_for('static', filename='js/open-close-form.js') }}"></script>

      <br />

      <div class="container">
        {% if running_installs|length > 0 %}
          <h2>Currently Running Installs</h2>
          <ul>
          {% for server_id, server_name in running_installs.items() %}
            <div class="list-group-item list-group-item-action">
              <div class="d-flex align-items-center">
                <a href="/install?server_id={{server_id}}" class="game_server_link text-decoration-none flex-grow-1">{{server_name}}</a>
              </div>
            </div>
          {% endfor %}
          </ul>
        {% endif %}
        <br />

        {% include 'spinners.html' %}

        <div class="row">
          {% include 'xtermjs.html' %}

        </div>

        <br />

        <h2>Search</h2>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="search-form" style="color:white" class="form-label">Game Server:</label>
              <input type="text" class="form-control" id="search-form" placeholder="Example: Minecraft">
            </div>
          </div>
        </div>

        <br />
        <h2 class="text-white">Install a New LGSM Server</h2>
        <hr />
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
          {% for script_name, (full_name, app_img) in servers.items() %}
          <div id="form-{{script_name}}" class="col">
            <div class="card bg-dark h-100 overflow-hidden">
              <div class="ratio ratio-16x9">  {# Maintains a consistent aspect ratio #}
                  <img src="{{app_img}}" 
                     class="card-img-top object-fit-cover" 
                     alt="{{full_name}}"
                     loading="lazy"
                     decoding="async"
                     style="object-position: center;">
              </div>
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-white">{{full_name}}</h5>
                <form method="POST" class="form-group mt-auto" action="/install">
                  {{ form.csrf_token }}
                  {{ form.script_name(value=script_name) }}
                  {{ form.full_name(value=full_name) }}
                  <button type="submit" 
                          onclick="return confirm('Are you sure you want to install {{full_name}}?');" 
                          class="btn btn-outline-primary w-100">
                    Install {{script_name}}
                  </button>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <br />

      <!-- Set global vars for update-xterm.js -->
      {# TODO v1.9 Put this in its own template file, used here and on controls #}
      <script>
        var serverId = "{{ server_id }}";
        var textColor = "{{ _config.get('aesthetic','text_color') }}";
      {# If show_stderr var True #}
      {% if _config.get('settings','show_stderr') %}
        let showStderr = true;
      {% else %}
        let showStderr = false;
      {% endif %}
      {# If console var True #}
      {% if console is defined and console %}
        let sConsole = true;
      {% else %}
        let sConsole = false;
      {% endif %}
        if (serverId != "None") {
          updateTerminal(serverId);
        }
      </script>
      <script src="/static/js/update-xterm.js"></script>
      <script src="/static/js/update-install-search.js"></script>

      {% if server_id %}
        <a id="cancel-button" title="Cancel auto-install process" onclick="return confirm('Are you sure you want to cancel running install for {{ install_name }}?');" class="btn btn-outline-danger" href="/install?server_id={{server_id}}&cancel=true" role="button">Cancel Install</a>
      {% endif %}
      <button id="top-button" onclick="window.scrollTo(0,0);" type="button" style="text-decoration: underline;" class="btn btn-outline-primary d-sm-none d-md-block d-none d-sm-block">
        /\ Top /\
      </button>
{% endblock %}
