{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
      <br />
      
      <div class="container bg-dark border border-secondary p-2">
        <form method="POST">
          <h3 align="enter" style="color: white;">
            Login
          </h3>
          <div class="form-group">
            <label for="username" style="color: white;">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" />
      
            <label for="password" style="color: white;">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
      
            <br />
      
            <center>
              <button class="btn btn-outline-primary" type="submit">Login</button>
            </center>
          </div>
        </form>
      </div>
{% endblock %}
