{% extends "base.html" %}
{% block title %}Web LGSM Settings{% endblock %}

{% block content %}
      <br />

      <div class="container bg-dark border border-secondary rounded-3 p-2">
        <form method="POST">
          <h3 align="enter" style="color: white;">
            Web LGSM Settings
          </h3>
          <div class="form-group" style="color: white;">
            <div class="row">
              <div class="col">
                <label for="text_color" class="form-label">Output Text Color</label>
                <input type="color" class="form-control form-control-color" id="text_color" name="text_color" value="{{config_options.text_color}}" title="Choose your color" />
              </div>
              <div class="col">
                <label for="graphs_primary" class="form-label">Stats Primary Color</label>
                <input type="color" class="form-control form-control-color" id="graphs_primary" name="graphs_primary" value="{{config_options.graphs_primary}}" title="Choose your color" />
              </div>
              <div class="col">
                <label for="graphs_secondary" class="form-label">Stats Secondary Color</label>
                <input type="color" class="form-control form-control-color" id="graphs_secondary" name="graphs_secondary" value="{{config_options.graphs_secondary}}" title="Choose your color" />
              </div>
            </div>

            <br />

            <div class="form-floating mb-3">
              <input value="{{config_options.terminal_height}}" min="5" max="100" class="form-control" type="number" id="terminal-height" name="terminal_height" class="form-control">
              <label for="text-area-height" style="color:black;">Default Terminal Height</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="delete_user" id="delete_user" value="true" onchange="checkDelFiles()" {% if config_options.delete_user == true %}checked{% endif %}>
              <label class="form-check-label" for="delete_user">
                Delete game server's system user on delete (for game servers not owned by web-lgsm system user)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="delete_user" id="keep_user" value="false" {% if config_options.delete_user== false %}checked{% endif %}>
              <label class="form-check-label" for="delete_user">
                Keep user on game server delete
              </label>
            </div>

            📍 <i><u>Note: When the system users are deleted, game server files owned by them are automatically deleted as well.</u></i>
            <br />
            <br />

            <div class="form-check">
              <input class="form-check-input" type="radio" name="delete_files" id="delete_files" value="true" {% if config_options.remove_files == true %}checked{% endif %}>
              <label class="form-check-label" for="delete-files">
                Remove game server files on delete
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="delete_files" id="leave_files" value="false" onchange="checkKeepUser()" {% if config_options.remove_files == false %}checked{% endif %}>
              <label class="form-check-label" for="leave-files">
                Leave game server files on delete
              </label>
            </div>

            <br />

            <div class="form-check">
              <input class="form-check-input" type="radio" name="install_new_user" id="install-different-user" value="true" {% if config_options.install_create_new_user == true %}checked{% endif %}>
              <label class="form-check-label" for="install-different-user">
                Setup new system user when installing new game servers
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="install_new_user" id="install-same-user" value="false" {% if config_options.install_create_new_user == false %}checked{% endif %}>
              <label class="form-check-label" for="install-same-user">
                Install new game servers under the <i>{{ system_user }}</i> system user
              </label>
            </div>

            <br />

<!--
            <div class="form-check">
              <input class="form-check-input" type="radio" name="show_stderr" id="show_stderr" value="true" {% if config_options.install_create_new_user == true %}checked{% endif %}>
              <label class="form-check-label" for="show_stderr">
                Merge stdout and stderr output streams
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="show_stderr" id="show_stderr" value="false" {% if config_options.install_create_new_user == false %}checked{% endif %}>
              <label class="form-check-label" for="show_stderr">
                Only show stdout output stream
              </label>
            </div>

            <br />
-->

            <div class="form-check">
              <input class="form-check-input" type="radio" name="clear_output_on_reload" id="clear_output_on_reload" value="true" {% if config_options.clear_output_on_reload == true %}checked{% endif %}>
              <label class="form-check-label" for="clear_output_on_reload">
                Clear web terminal when running new command
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="clear_output_on_reload" id="clear_output_on_reload" value="false" {% if config_options.clear_output_on_reload == false %}checked{% endif %}>
              <label class="form-check-label" for="clear_output_on_reload">
                Do not clear web terminal after running command (output is appended to existing output)
              </label>
            </div>
<!--
delete_user = yes
show_stderr = no
clear_output_on_reload = yes
-->
            <hr />

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" id="show_stats" name="show_stats" {% if config_options.show_stats == true %}checked{% endif %}>
              <label class="form-check-label" for="show_stats">
                Show Live Server Stats on Home Page 📈
              </label>
            </div>

            <br />

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="update" id="update_weblgsm" name="update_weblgsm">
              <label class="form-check-label" for="update_weblgsm">
                Check for and update the Web LGSM!<br>
                📍 <i>Note: Checking this box will restart your Web LGSM instance if an update is available!</i>
              </label>
            </div>

            <br />

            <center>
              <button class="btn btn-outline-primary" type="submit">Apply</button>
            </center>
          </div>
        </form>
      </div>
      <script>
        // Marks delete_user checkbox as checked when delete_user is selected.
        function checkDelFiles() {
          const deleteUser = document.getElementById('delete_user');
          const deleteFiles = document.getElementById('delete_files');
          if (deleteUser.checked) {
            deleteFiles.checked = true;
          }
        }
        // Marks keep_user checkbox as checked when leave game servers is selected.
        function checkKeepUser() {
          const leaveFiles = document.getElementById('leave_files');
          const keepUser = document.getElementById('keep_user');
          if (leaveFiles.checked) {
            keepUser.checked = true;
          }
        }
        // Initial call to set the correct state on page load. Defaults to
        // checkKeepUser if conf is conflicted for end user safety. Safer to
        // default to keep, than delete.
        document.addEventListener('DOMContentLoaded', function() {
          checkKeepUser();
        });
      </script>
{% endblock %}
