{% extends "base.html" %}
{% block title %}Setup{% endblock %}

{% block content %}
      <br />

      <div class="container bg-dark border border-secondary rounded-3 p-2">
        <form method="POST">
          {{ form.hidden_tag() }}
          <h3 align="enter" style="color: white;">
            Web LGSM Setup
          </h3>
          <div class="form-group" style="color: white;">
            {{ form.username.label() }}
            {{ form.username() }}

            {{ form.password1.label() }}
            {{ form.password1() }}

            {{ form.password2.label() }}
            {{ form.password2() }}

            <i>Note: Passwords must be at least 12 characters long and contain at least 1 uppercase letter, 1 lowercase letter, & 1 special character!</i>

            <br />
            <div class="mb-4">
                <div class="form-check form-switch">
                    {{ form.enable_otp(class="form-check-input") }}
                    {{ form.enable_otp.label(class="form-check-label") }}
                </div>
            </div>

            <center>
              {{ form.submit() }}
            </center>
          </div>
        </form>
      </div>
{% endblock %}
