        <div id="spinners" style="display: none;">
            <h2 id="pre_install" style='color:#00ff11;display:none;'>Running Pre-Install<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span></h2>
          {% if install_name|length %}
            <h2 style='color:#00ff11'>Installing {{install_name|capitalize}}<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span></h2>
          {% endif %}

          {% for bs_color in spinner_colors %}
            <div class="spinner-border text-{{bs_color}}" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          {% endfor %}

          <hr style="color: white;" />
        </div>

