          <h2 style="color: white;">Output:</h2>
          <div id="textArea">
            <button id="auto-scroll-button" type="button" class="btn btn-outline-primary float-end" style="text-decoration: overline;">\/Toggle Auto-Scroll\/</button>
            <textarea class="bg-dark border border-secondary" id="outputTextArea" style="white-space: pre !important; white-space: pre-wrap !important; width: 100%; height: 100%; color:{{text_color}}; padding: 5px" rows="{{text_area_height}}" readonly>
            </textarea>
          </div>

